# String Based Assignment Problem

In [1]:
#1. Write a program to reverse a string.

In [2]:
s = 'ineuron'
rs = s[::-1]
print(rs)

norueni

In [3]:
#2. Check if a string is a palindrome.

In [4]:
def ispalindrome(s):
    return s == s[::-1]
s = 'malayalam'
p = ispalindrome(s)
if p:
    print("yes")
else:
    print("no")

yes

In [5]:
#3. Convert a string to uppercase.

In [6]:
s = 'pwskills'
U = s.upper()
U

'PWSKILLS'

In [7]:
#4. Convert a string to lowercase.

In [8]:
s = 'PWSKILLS'
L = s.lower()
L

'pwskills'

In [9]:
#5. Count the number of vowels in a string.

In [10]:
s = input('Enter a sentence :')
vowels = "aeiou"
for i in vowels:
    print(i,s.count(i))

Enter a sentence :
a 0
e 0
i 0
o 0
u 0

In [11]:
#6. Count the number of consonants in a string.

In [41]:
s = input('Enter a sentence : ')
v =0
c =0
for i in s:
    if (i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        v = v+1
    else:
        c = c+1
print("\nThe number of consonant:",c);

Enter a sentence : ram is a good boy

The number of consonant: 11

In [13]:
#7. Remove all whitespaces from a string.

In [42]:
s = input('enter a string :')
ms = "".join(s.split())
print(ms)

enter a string :ram is a good  boy
ramisagoodboy

In [15]:
#8. Find the length of a string without using the `len()` function.

In [25]:
s = input('enter a string:')
c = 0
for i in s:
    c = c+1
print(c)

enter a string:ineuron
7

In [17]:
#9. Check if a string contains a specific word.

In [18]:
s =  'how are you'
if 'are' in s:
    print('True')

True

In [19]:
#10. Replace a word in a string with another word.

In [20]:
s = 'ram is a good boy'
re = s.replace('good','bad')
print(re)

ram is a bad boy

In [21]:
#11. Count the occurrences of a word in a string.

In [23]:
s = 'pwskills is a part of ineuron and part of PW and part of society'
C = s.count('of')
print(C)

3

In [ ]:
#12. Find the first occurrence of a word in a string.(returns index position)

In [24]:
s = 'pwskills is a part of ineuron and part of PW and part of society'
C = s.find('and')
print(C)

30

In [25]:
#13. Find the last occurrence of a word in a string.

In [30]:
s = 'pwskills is a part of ineuron and part of PW and part of society'
C = s.rindex('is')
print(C)

9

In [31]:
#14. Split a string into a list of words.

In [33]:
s = 'rama is an engineer'
ms = s.split()
print(ms)

['rama', 'is', 'an', 'engineer']

In [34]:
#15. Join a list of words into a string.

In [42]:
l = ['ram','is','a','good','boy']
print(" ".join(l))

ram is a good boy

In [43]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [118]:
s = 'pwskillsisapartofineuron'
ms ='  '.join(s.split(' '))
ls = ms.replace('',' ')
print(ls)

 p w s k i l l s i s a p a r t o f i n e u r o n

In [69]:
s = 'pwskills is a part of ineuron'
print(s.replace(" ","_"))

pwskills_is_a_part_of_ineuron

In [119]:
#17. Check if a string starts with a specific word or phrase.

In [120]:
s = 'pwskills is a part of ineuron'
s.startswith('pwskills')

True

In [121]:
#18. Check if a string ends with a specific word or phrase.

In [122]:
s = 'pwskills is a part of ineuron'
s.endswith('ineuron')

True

In [123]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [124]:
s = 'pwskills is a part of ineuron'
s.title()

'Pwskills Is A Part Of Ineuron'

In [125]:
#20. Find the longest word in a string.

In [127]:
s = 'rama is an engineer'
sp = s.split()
lw = max(sp,key = len)
print(lw)

engineer

In [128]:
#21. Find the shortest word in a string.

In [129]:
s = 'rama is an engineer'
sp = s.split()
lw = min(sp,key = len)
print(lw)

is

In [130]:
#22. Reverse the order of words in a string.

In [132]:
s = 'rama is an engineer'
sp = s[::-1]
sp

'reenigne na si amar'

In [133]:
#23. Check if a string is alphanumeric.

In [134]:
s = '123check'
s.isalnum()

True

In [135]:
#24. Extract all digits from a string.

In [156]:
s = "There are 2 apples for 4 persons"
sp = s.split()
for i in sp:
    if i.isdigit():
        print(i)

2
4

In [157]:
#25. Extract all alphabets from a string.

In [161]:
s = "check 1234 hearing "
sp = s.split()
for i in sp:
    if i.isalpha():
        print(i)

check
hearing

In [162]:
#26. Count the number of uppercase letters in a string.

In [190]:
s = 'Pwskills Is A Part Of Ineuron'
u = 0
for i in s:
    if (i.isupper()):
        u += 1
print("The number of uppercase characters is:",u)

The number of uppercase characters is: 6

In [164]:
#27. Count the number of lowercase letters in a string.

In [192]:
s = 'Pwskills Is A Part Of Ineuron'
l = 0
for i in s:
    if i.islower():
        l += 1
print("The number of lowercase characters is:",l)

The number of lowercase characters is: 18

In [193]:
#28. Swap the case of each character in a string.

In [196]:
s = 'Pwskills Is A Part Of Ineuron'
ms = s.swapcase()
print(ms)

pWSKILLS iS a pART oF iNEURON

In [197]:
#29. Remove a specific word from a string.

In [199]:
s = 'Pwskills Is A Part Of Ineuron'
ms = s.replace('Part','')
print(ms)

Pwskills Is A  Of Ineuron

In [200]:
#30. Check if a string is a valid email address.

In [202]:
import re
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
def check(email):
    if(re.fullmatch(regex, email)):
        print("Valid Email")
    else:
        print("Invalid Email")
 
# Driver Code
if __name__ == '__main__':
 
    # Enter the email
    email = "ankitrai326@gmail.com"
    check(email)
 
    email = "my.ownsite@our-earth.org"
    check(email)
 
    email = "ankitrai326.com"
    check(email)

Valid Email
Valid Email
Invalid Email

In [1]:
#31. Extract the username from an email address string.

In [12]:
def test(email_address):
    data = email_address.split("@")[0]
    result = ""
    for i in data:
        if i.isalpha():
            result+=i
    return result
email_address = "lakshmi@example.com"
print("Original Email:", email_address)
print("Extract the name from the  Email address:")
print(test(email_address))

Original Email: lakshmi@example.com
Extract the name from the  Email address:
lakshmi

In [ ]:
#32. Extract the domain name from an email address string.

In [18]:
s = 'lakshmi@gmail.com'
print("The original string is : ", str(s))
res = s[s.index('@') + 1 : ]
print("The extracted domain name : " ,str(res))

The original string is :  lakshmi@gmail.com
The extracted domain name :  gmail.com

In [14]:
#33. Replace multiple spaces in a string with a single space.

In [41]:
s = "There   are  2  apples   for  4   persons"
ms = ' '.join(s.split())
print(ms)

There are 2 apples for 4 persons

In [2]:
#36. Find the frequency of each character in a string.

In [5]:
s = 'pwskills'
for i in s:
    f = s.count(i)
    print(str(i)+" :"+str(f), end=", ")

p :1, w :1, s :2, k :1, i :1, l :2, l :2, s :2,

In [6]:
#37. Remove all punctuation from a string.

In [9]:
import string
s = '!hi. wh?at is the weat[h]er lik?e.'
ns = s.translate(s.maketrans('','',string.punctuation))
print(ns)

hi what is the weather like

In [10]:
#38. Check if a string contains only digits.

In [4]:
s = input("Enter a string:")
if s.isdigit():
    print("true")
else:
    print("false")

Enter a string:hdi
false

In [5]:
#39. Check if a string contains only alphabets.

In [7]:
s = input("enter a string :")
if s.isalpha():
    print("true")
else:
    print("false")

enter a string :harhsa
true

In [8]:
#40. Convert a string to a list of characters.

In [23]:
s = 'pwskills'
ms = [i for i in s]
print(ms)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [1]:
#44. Find the most frequent word in a string.

In [4]:
from collections import defaultdict
test_list = ["python is best for future", "future love python", "python is best"]
 
print("The original list is : " + str(test_list))
 
temp = defaultdict(int)
 
for sub in test_list:
    for wrd in sub.split():
        temp[wrd] += 1
 
res = max(temp, key=temp.get)
 
# printing result
print("Word with maximum frequency : " + str(res))

The original list is : ['python is best for future', 'future love python', 'python is best']
Word with maximum frequency : python

In [5]:
#45. Find all unique words in a string.

In [9]:
s = 'Apple is different from Apple company'
ms = set(s.split(" "))
print(ms)

{'company', 'from', 'is', 'Apple', 'different'}

In [10]:
#47. Check if a string contains any special characters.

In [13]:
import string

def check_string(s):
    for c in s:
        if c in string.punctuation:
            print("String is not accepted")
            return
    print("String is accepted")

# Example usage
check_string("$data$data") 
check_string(" Ram is boy")

String is not accepted
String is accepted

In [14]:
#48. Remove the nth word from a string.

In [6]:
def nth_word(string, n):
    words = string.split()
    if 1 <= n <= len(words):
        return words[n-1]
    else:
        return "Invalid value of N."

input_string = 'pwskills is a part of ineuron and part of PW and part of society'
n = 9
print(nth_word(input_string, n))

of

In [4]:
#49. Insert a word at the nth position in a string.

In [13]:
s = 'pwskills ineuron'
ms = s[:9] +"and "+s[9:]
print(ms) # inserting word "and" at 9th position in a string

pwskills and ineuron

# List Based Practice Problem :

In [14]:
#1. Create a list with integers from 1 to 10.

In [15]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#2. Find the length of a list without using the `len()` function.

In [29]:
l = [1,2,3,4,5,6,7]
c = 0
for i in l:
    c += 1
print(c)

7

In [30]:
#3. Append an element to the end of a list.

In [32]:
l = [1,2,3,4,5,6]
l.append(7)
l

[1, 2, 3, 4, 5, 6, 7]

In [33]:
#4. Insert an element at a specific index in a list.

In [35]:
l = [1,2,4,5,6]
l.insert(2,3)
l

[1, 2, 3, 4, 5, 6]

In [36]:
#5. Remove an element from a list by its value.

In [38]:
l = [1,2,3,4,5,6]
l.remove(5)
l

[1, 2, 3, 4, 6]

In [39]:
#6. Remove an element from a list by its index.

In [50]:
l = [1,2,3,4,5,6]
del l[2]
l

[1, 2, 4, 5, 6]

In [51]:
#Another way
l = [1,2,3,4,5,6]
l.pop(2)
l

[1, 2, 4, 5, 6]

In [52]:
#7. Check if an element exists in a list.

In [57]:
l = [1,2,3,4,5]
i = 2
if i in l:
    print('True')
else:
    print('False')

True

In [58]:
#8. Find the index of the first occurrence of an element in a list.

In [70]:
l = [1,2,3,4,4,5,6,4]
l.index(4)

3

In [71]:
#9. Count the occurrences of an element in a list.

In [73]:
l = [1,2,3,4,4,5,6,4,4,4]
l.count(4)

5

In [74]:
#10. Reverse the order of elements in a list.

In [75]:
l = [1,2,3,4,5,6,7]
l[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [76]:
#11. Sort a list in ascending order.

In [85]:
l = [2,4,5,6,7,1,3]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7]

In [84]:
#12. Sort a list in descending order.

In [87]:
l = [2,4,5,6,7,1,3]
l.sort(reverse=True)
l

[7, 6, 5, 4, 3, 2, 1]

In [88]:
#13. Create a list of even numbers from 1 to 20.

In [108]:
el = []
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,1,4,15,16,17,18,19,20]
for i in l:
    if (i%2==0):
        el.append(i)
el

[2, 4, 6, 8, 10, 12, 4, 16, 18, 20]

In [109]:
ol=[]
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,1,4,15,16,17,18,19,20]
for i in l:
    if (i%2!=0):
        ol.append(i)
ol

[1, 3, 5, 7, 9, 11, 13, 1, 15, 17, 19]

In [110]:
#15. Find the sum of all elements in a list.

In [112]:
sum = 0
l = [1,2,3,4,5,6]
for i in range(0,6):
    sum += l[i]
print(sum)

21

In [113]:
s =0
i=0
l = [1,2,3,4,5,6]
while(i<6):
    s +=l[i]
    i +=1
print(s)

21

In [114]:
#16. Find the maximum value in a list.

In [116]:
l = [1,2,3,450,61,32]
nl = max(l)
nl

450

In [117]:
#17. Find the minimum value in a list.

In [118]:
l = [1,2,3,450,61,32]
nl = min(l)
nl

1

In [119]:
#18. Create a list of squares of numbers from 1 to 10.

In [124]:
nl = []
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    #print(i*i,end=",")
    nl.append(i*i)
nl

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [125]:
#19. Create a list of random numbers.

In [126]:
import random
rl = []
for i in range(1,10):
    n = random.randint(1,50)
    rl.append(n)
rl

[33, 4, 5, 42, 50, 1, 4, 22, 31]

In [127]:
#20. Remove duplicates from a list.

In [129]:
l = [1,2,3,3,4,5,5,6,7,5,4]
nl= set(l)
ml = list(nl)
ml

[1, 2, 3, 4, 5, 6, 7]

In [130]:
#21. Find the common elements between two lists.

In [137]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [5,6,7,8,9,10,11,12,13]
l3=[]
for i in l1:
    for j in l2:
        if (i==j):
            l3.append(i)
l3

[5, 6, 7, 8, 9, 10]

In [138]:
#22. Find the difference between two lists.

In [143]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [5,6,7,8,9,10,]
diff = []
for i in l1:
    if i not in l2:
        diff.append(i)
diff

[1, 2, 3, 4]

In [144]:
#23. Merge two lists.

In [146]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,12,13,14,15,16,17]
l3 = l1+l2
l3.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [147]:
#24. Multiply all elements in a list by 2.

In [149]:
l = [1,2,3,4,5,6]
nl =[]
for i in l:
    nl.append(i*2)
nl

[2, 4, 6, 8, 10, 12]

In [150]:
#25. Filter out all even numbers from a list.

In [151]:
l =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18,19,20]
el = []
for i in l:
    if (i%2==0):
        el.append(i)
el

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [152]:
#26. Convert a list of strings to a list of integers.

In [165]:
l = ['1','2','3','4','5','6']
for i in range(0,6):
    l[i] = int(l[i])
    
print(str(l))

[1, 2, 3, 4, 5, 6]

In [166]:
#another way
l = ['1','2','3','4','5','6']
l = [int(i) for i in l]
print(str(l))

[1, 2, 3, 4, 5, 6]

In [167]:
#27. Convert a list of integers to a list of strings.

In [168]:
l = [1, 2, 3, 4, 5, 6]
l = [str(i) for i in l]
print(list(l))

['1', '2', '3', '4', '5', '6']

In [169]:
#28. Flatten a nested list.

In [170]:
l = [[1,2,3],[4,5,6],[7,8,9]]
fl = []
for i in l:
    for j in i:
        fl.append(j)
fl

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
#29. Create a list of the first 10 Fibonacci numbers.

In [76]:
n = int(input('Enter nterms: '))
n1 = 0
n2 = 1
c = 0
l = []
while c < n:
    l.append(n1)
    nth = n1+n2
    n1 = n2
    n2 = nth
    c += 1
print(l)

Enter nterms: 8
[0, 1, 1, 2, 3, 5, 8, 13]

In [175]:
#30. Check if a list is sorted.

In [180]:
l = [1,4,3,6,2,7,9,5,8,10]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [181]:
#31. Rotate a list to the left by `n` positions.

In [185]:
def rl(lst,n):
    return list(reversed(lst[n:]))+lst[:n]    
l = [1,2,3,4,5,6,7,8]

nl = rl(l,3)
nl

[8, 7, 6, 5, 4, 1, 2, 3]

In [183]:
#32. Rotate a list to the right by `n` positions.

In [186]:
def rl(lst,n):
    return list(reversed(lst[-n:]))+lst[:-n]    
l = [1,2,3,4,5,6,7,8]

nl = rl(l,3)
nl

[8, 7, 6, 1, 2, 3, 4, 5]

In [187]:
#33. Create a list of prime numbers up to 50.

In [200]:
nl = []
for i in range(2,50): 
    for j in range(2,50):
        if i%j == 0:
            break
    if i == j:
       # print(i,end=",") 
        nl.append(i)
nl

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [203]:
#35. Find the second largest number in a list.

In [207]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(l)):
    if i>=len(l)-1:
        print(i)

9

In [ ]:
#36. Replace every element in a list with its square.

In [210]:
l = [1,2,3,4,5,6,7,8]
nl = []
for i in l:
    #print(i*i,end=",")
    nl.append(i*i)
nl

[1, 4, 9, 16, 25, 36, 49, 64]

In [211]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [225]:
def Con(lst):
    dct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    return dct
         
lst = ['1', 0, '2', 1, '3', 2 ,'4',3,'5',4]
print(Con(lst))

{'1': 0, '2': 1, '3': 2, '4': 3, '5': 4}

In [226]:
#38. Shuffle the elements of a list randomly.

In [237]:
import random
l = [1,2,3,4,5,6,7,8]
random.shuffle(l)
l

[8, 1, 5, 4, 2, 7, 3, 6]

In [238]:
#39. Create a list of the first 10 factorial numbers.

In [10]:
def factorial(n):
     return 1 if (n==0 or n==1) else n*factorial(n-1)
l = [1,2,3,4,5,6,7,8,9,10]
nl = []
for n in l:
    #print(factorial(n))
    nl.append(factorial(n))
        
nl

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [11]:
#40. Check if two lists have at least one element in common.

In [15]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [10,12,13,14,15,16,17]
for i in l1:
    for j in l2:
        if (i==j):
            print('the common element is ',i)

the common element is  10

In [16]:
#41. Remove all elements from a list.

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
l.clear()
l

[]

In [21]:
#42. Replace negative numbers in a list with 0.

In [31]:
l = [1,-2,3,-4,5,-6,7,-8,9]
nl = [0 if i<0 else i for i in l]
nl

[1, 0, 3, 0, 5, 0, 7, 0, 9]

In [32]:
#43. Convert a string into a list of words.

In [45]:
s = 'pwskills is a data science institute'
s.split()

['pwskills', 'is', 'a', 'data', 'science', 'institute']

In [37]:
#44. Convert a list of words into a string.

In [58]:
l =['pwskills', 'is', 'a', 'data', 'science', 'institute']
nl = ' '.join(l)
nl

'pwskills is a data science institute'

In [59]:
#45. Create a list of the first `n` powers of 2.

In [63]:
l = []
for i in range(0,10):
    l.append(2**i)
l

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [64]:
#46. Find the longest string in a list of strings.

In [77]:
l =['pwskills', 'is', 'a', 'data', 'science', 'institute']
nl = [len(i) for i in l]
ml = nl.index(max(nl))
ls = l[ml]
print(ls)

institute

In [78]:
#47. Find the shortest string in a list of strings.

In [79]:
l =['pwskills', 'is', 'a', 'data', 'science', 'institute']
nl = [len(i) for i in l]
ml = nl.index(min(nl))
ls = l[ml]
print(ls)

a

In [80]:
#50. Swap two elements in a list by their indices.

In [90]:
l = ['data','data1','data2','data3']
l[0],l[1] = l[2],l[0]
l

['data2', 'data', 'data2', 'data3']

# Tuple Based Practice Problem :

In [1]:
#1. Create a tuple with integers from 1 to 5.

In [2]:
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [3]:
#2. Access the third element of a tuple.

In [23]:
t = ((1,1,1),(2,3,7),(3,5,10))
t[2]

(3, 5, 10)

In [24]:
#3. Find the length of a tuple without using the `len()` function.

In [12]:
t = (1,2,3,4,5,6)
c = 0
for i in t:
    c += 1
print("the lenght of the tuple is ",c)

the lenght of the tuple is  6

In [30]:
#4. Count the occurrences of an element in a tuple.

In [31]:
t = (1,2,3,4,4,4,5)
t.count(4)

3

In [32]:
#5. Find the index of the first occurrence of an element in a tuple.

In [33]:
t = (1,2,3,4,2,5,2)
t.index(2)

1

In [34]:
#6. Check if an element exists in a tuple.

In [45]:
t = (1,2,3,4,5,6)
n = 5
if n in t:
    print('True')
else:
    print('False')

True

In [46]:
#7. Convert a tuple to a list.

In [47]:
t = (1,2,3)
l = list(t)
l

[1, 2, 3]

In [48]:
#8. Convert a list to a tuple.

In [51]:
l = [1,2,3]
t = tuple(l)
t

(1, 2, 3)

In [52]:
#9. Unpack the elements of a tuple into variables.

In [54]:
v1 = 2
v2 = 0.5
v3 = 'str'
v4 = [1,2,3]
t1 = (v1,v2,v3,v4)
#unpacking
intObj,floatObj,strObj,listObj = t1
print("intObj: ", intObj)
print("floatObj: ", floatObj)
print("strObj: ", strObj)
print("listObj: ", listObj)

intObj:  2
floatObj:  0.5
strObj:  str
listObj:  [1, 2, 3]

In [55]:
#10. Create a tuple of even numbers from 1 to 10.

In [58]:
t = []
for i in range(1,11):
    if (i%2)==0:
        t.append(i)
t1 = tuple(t)
t1

(2, 4, 6, 8, 10)

In [59]:
#11. Create a tuple of odd numbers from 1 to 10.

In [60]:
t = []
for i in range(1,11):
    if (i%2)!=0:
        t.append(i)
t1 = tuple(t)
t1

(1, 3, 5, 7, 9)

In [61]:
#12. Concatenate two tuples.

In [62]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [63]:
#13. Repeat a tuple three times.

In [69]:
t = (1,2,3)
t1 = t*3
t1

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [70]:
#14. Check if a tuple is empty.

In [5]:
t = ()
if len(t)==0:
    print('empty')

empty

In [6]:
#15. Create a nested tuple.

In [14]:
t1 = (1,2,3),
t2 = (4,5,6),
t1+t2

((1, 2, 3), (4, 5, 6))

In [15]:
#16. Access the first element of a nested tuple.

In [20]:
t =((1, 2, 3), (4, 5, 6))
t[0]

(1, 2, 3)

In [18]:
#17. Create a tuple with a single element.

In [19]:
t = (1,)
t

(1,)

In [21]:
#18. Compare two tuples.

In [24]:
t1 = (1,2,3)
t2 = (4,5,6)
t1>t2

False

In [25]:
#19. Delete a tuple.

In [28]:
t = (1,2,3,4)
del t
t # we can see entire tuple is deleted

NameError: name 't' is not defined

In [29]:
#20. Slice a tuple.

In [35]:
t = ('a','b','c','d','e','f','g','h','i','j')
print(t[0:4])
print(t[0:9:2])
print(t[-1:-5:-2])

('a', 'b', 'c', 'd')
('a', 'c', 'e', 'g', 'i')
('j', 'h')

In [1]:
#21. Find the maximum value in a tuple.

In [2]:
t = (1,2,3,4,52,6)
max(t)

52

In [3]:
#22. Find the minimum value in a tuple.

In [4]:
t = (1,2,3,4,52,6)
min(t)

1

In [5]:
#23. Convert a string to a tuple of characters.

In [14]:
s = 'pwskills'
nt = s.split(',')
mt = tuple(nt)
mt

('pwskills',)

In [7]:
#24. Convert a tuple of characters to a string.

In [11]:
t = ('t','u','p','l','e')
s = ''.join(t)
s

'tuple'

In [12]:
#25. Create a tuple from multiple data types.

In [17]:
#using string
t = ('pwskills','ineuron')
#using list
t1 = [1,2,3,4,5]
#using built in fun
t2 = tuple('harsha')
print(t)
print(tuple(t1))
print(t2)

('pwskills', 'ineuron')
(1, 2, 3, 4, 5)
('h', 'a', 'r', 's', 'h', 'a')

In [18]:
#26. Check if two tuples are identical.

In [22]:
t1 = (1,2,3)
t2 = (1,2,3)
if t1 == t2:
    print('Identical')
else:
    print('not Identical')

Identical

In [23]:
#27. Sort the elements of a tuple.

In [26]:
t = (5,2,1,4,3)
nt = list(t)
nt.sort()
print(tuple(nt))

(1, 2, 3, 4, 5)

In [27]:
#28. Convert a tuple of integers to a tuple of strings.

In [29]:
t = (1,2,3,4,5)
nt = [str(i) for i in t]
print(tuple(nt))

('1', '2', '3', '4', '5')

In [30]:
#29. Convert a tuple of strings to a tuple of integers.

In [31]:
t = ('1', '2', '3', '4', '5')
nt = [int(i) for i in t]
print(tuple(nt))

(1, 2, 3, 4, 5)

In [32]:
#30. Merge two tuples.

In [33]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [34]:
#31. Flatten a nested tuple.

In [35]:
t = ((1,2,3),(4,5,6),(7,8,9))
nt = []
for i in t:
    for j in i:
        nt.append(j)
print(tuple(nt))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [36]:
#32. Create a tuple of the first 5 prime numbers.

In [108]:
def isprime(n):
    t = []
    for i in range(2,n+1):
        for j in range(2,int(i**0.5)+1):
            if i%j == 0:
                break
        else:
            t.append(i)
    return t
t1 =isprime(12)
print(tuple(t1))

(2, 3, 5, 7, 11)

In [54]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [56]:
t = (1,2,3,4,5)
t1=[]
for i in t:
    #print(i*i,end=",")
    t1.append(i*i)
print(tuple(t1))

(1, 4, 9, 16, 25)

In [57]:
#35. Filter out all even numbers from a tuple.

In [58]:
t = (1,2,3,4,5,6,7,8,9,10)
et = []
for i in t:
    if i%2 == 0:
        et.append(i)
print(tuple(et))

(2, 4, 6, 8, 10)

In [59]:
#36. Multiply all elements in a tuple by 2.

In [60]:
t = (1,2,3,4,5)
nt = []
for i in t:
    nt.append(i*2)
print(tuple(nt))

(2, 4, 6, 8, 10)

In [61]:
#37. Create a tuple of random numbers.

In [62]:
import random
rl = []
for i in range(1,10):
    n = random.randint(1,50)
    rl.append(n)
tuple(rl)

(15, 20, 10, 7, 48, 40, 27, 23, 24)

In [63]:
#38. Check if a tuple is sorted.

In [68]:
def istuplesort(t):
    for i in range(0,len(t)):
        if t[i]<t[i-1]:
            return False
        else:
            return True
    
t = (1,3,5,4,10)
nt = istuplesort(t)
nt

False

In [69]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [77]:
n = int(input('enter nterms :'))
n1 =0
n2 =1
c =0
t =[]
while c < n:
    t.append(n1)
    nth = n1+n2
    n1 = n2
    n2 = nth
    c+= 1
print(tuple(t))

enter nterms :8
(0, 1, 1, 2, 3, 5, 8, 13)

In [78]:
#42. Create a tuple from user input.

In [81]:
t = input('Enter ')
nt = t.split(',')
print(tuple(nt))

Enter pwskills
('pwskills',)

In [82]:
#43. Swap two elements in a tuple.

In [90]:
t = ((1,2),(3,4),(5,6))
nt = [(i[1],i[0]) for i in t]
print(tuple(nt))

((2, 1), (4, 3), (6, 5))

In [91]:
#44. Reverse the elements of a tuple.

In [92]:
t = (1,2,3,4,5,6)
t[::-1]

(6, 5, 4, 3, 2, 1)

In [93]:
#45. Create a tuple of the first `n` powers of 2.

In [94]:
t =[]
for i in range(1,10):
    t.append(2**i)
print(tuple(t))

(2, 4, 8, 16, 32, 64, 128, 256, 512)

In [95]:
#46. Find the longest string in a tuple of strings.

In [99]:
t = ('pwskills', 'is', 'a', 'data', 'science', 'institute')
nt = [len(i) for i in t]
mt  = nt.index(max(nt))
ms = t[mt]
ms

'institute'

In [100]:
#47. Find the shortest string in a tuple of strings.

In [101]:
t = ('pwskills', 'is', 'a', 'data', 'science', 'institute')
nt = [len(i) for i in t]
mt  = nt.index(min(nt))
ms = t[mt]
ms

'a'

In [108]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [114]:
c1 = 5
c2 = 3
s = 12
t = [1 if i%(c1+c2)<c1 else 0 for i in range(s)]
print(tuple(t))

(1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1)

# Set Based Practice Problem :

In [1]:
#1. Create a set with integers from 1 to 5.

In [2]:
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [3]:
#2. Add an element to a set.

In [4]:
s = {1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [5]:
#3. Remove an element from a set.

In [6]:
s = {1,2,3,4,5}
s.remove(3)
s

{1, 2, 4, 5}

In [7]:
#4. Check if an element exists in a set.

In [9]:
s = {1,2,3,4,5}
if 2 in s:
    print('true')
else:
    print('False')

true

In [10]:
#5. Find the length of a set without using the `len()` function.

In [15]:
s ={1,2,3,4,5,6,7}
c = 0
for i in s:
    c+= 1
print('the length of set is ',c)

the length of set is  7

In [16]:
#6. Clear all elements from a set.

In [17]:
s = {1,2,3,4,5,6}
s.clear()
s

set()

In [18]:
#7. Create a set of even numbers from 1 to 10.

In [39]:
def iseven(s):
    s =  [i for i in range(1,10) if i%2==0] 
    return set(s)
s = {1,2,3,4,5,6,7,8,9,10}
ns = iseven(s)
ns

{2, 4, 6, 8}

In [40]:
#8. Create a set of odd numbers from 1 to 10.

In [41]:
def isodd(s):
    s =  [i for i in range(1,10) if i%2!=0] 
    return set(s)
s = {1,2,3,4,5,6,7,8,9,10}
ns = isodd(s)
ns

{1, 3, 5, 7, 9}

In [42]:
#9. Find the union of two sets.

In [44]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
#10. Find the intersection of two sets.

In [47]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)

{4, 5}

In [48]:
#11. Find the difference between two sets.

In [49]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference(s2)

{1, 2, 3}

In [50]:
#12. Check if a set is a subset of another set.

In [65]:
s1 = {1,2,3,4,5,6}
s2 ={1,2,3}
s2.issubset(s1)

True

In [64]:
#13. Check if a set is a superset of another set.

In [66]:
s1 = {1,2,3,4,5,6}
s2 ={1,2,3}
s1.issuperset(s2)

True

In [67]:
#14. Create a set from a list.

In [73]:
l = [1,2,3,4,5,6,7,8]
ns = [i for i in l]
set(ns[0:4])

{1, 2, 3, 4}

In [74]:
#15. Convert a set to a list.

In [75]:
s = {1,2,3,4,5,6}
ns = list(s)
ns

[1, 2, 3, 4, 5, 6]

In [76]:
#16. Remove a random element from a set.

In [87]:
s = {1,2,3,4,5,6,7,8}
s1 = random.sample(s,1)[0]
s.remove(s1)
s

C:\Users\HARSHAVARDHAN\AppData\Local\Temp/ipykernel_15988/4273639871.py:2: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  s1 = random.sample(s,1)[0]

{1, 2, 3, 4, 6, 7, 8}

In [88]:
#17. Pop an element from a set.

In [90]:
s = {1,2,3,4,5,6,7,8}
s.pop()

1

In [91]:
#18. Check if two sets have no elements in common.

In [92]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
ns = [i for i in s2 if i not in s1]
print('True')

True

In [93]:
#another way
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
#intersection
s1.intersection(s2)

set()

In [94]:
#19. Find the symmetric difference between two sets.

In [96]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [97]:
#20. Update a set with elements from another set.

In [101]:
s1 = {1,2,3,4,5}
s2 = {'pwskills'}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 'pwskills'}

In [102]:
#21. Create a set of the first 5 prime numbers.

In [106]:
s=[]
for i in range(2,12):
    for j in range(2,12):
        if i%j==0:
            break
    if i==j:
        s.append(i)
set(s)

{2, 3, 5, 7, 11}

In [109]:
#22. Check if two sets are identical.

In [118]:
s1 = {1,2,3,4,5}
s2 = {1,4,3,4,5}
print('sets are equal ',s1 == s2)

sets are equal  False

In [119]:
#23. Create a frozen set.

In [120]:
s = 'pwskills'
fset = frozenset(s)
fset

frozenset({'i', 'k', 'l', 'p', 's', 'w'})

In [121]:
#24. Check if a set is disjoint with another set.

In [124]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
s1.isdisjoint(s2)

True

In [125]:
#25. Create a set of squares of numbers from 1 to 5.

In [127]:
s1 =[]
for i in range(1,6):
    s1.append(i*i)
set(s1)

{1, 4, 9, 16, 25}

In [128]:
#26. Filter out all even numbers from a set.

In [130]:
s = {1,2,3,4,5,6,7,8,9,10,11}
for i in s:
    if i%2 == 0:
        print(i,end=",")

2,4,6,8,10,

In [131]:
#27. Multiply all elements in a set by 2.

In [132]:
s = {1,2,3,4,5}
s1 =[]
for i in s:
    s1.append(i*2)
set(s1)

{2, 4, 6, 8, 10}

In [133]:
#28. Create a set of random numbers.

In [137]:
import random
s = []
for i in range(1,10):
    ns = random.randint(1,30)
    s.append(ns)
set(s)

{3, 4, 13, 14, 25, 27, 28, 29}

In [138]:
#29. Check if a set is empty.

In [139]:
s = {}
if len(s)==0:
    print('the set is empty')
else:
    print('the set is not empty')

the set is empty

In [140]:
#30. Create a nested set (hint: use frozenset).

In [148]:
s1 = set([frozenset([1,2]),frozenset([3,4]),frozenset([5,6])])
s1

{frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})}

In [149]:
#31. Remove an element from a set using the discard method.

In [152]:
s = {1,2,3,4,5}
s.discard(5)
s

{1, 2, 3, 4}

In [153]:
#32. Compare two sets.

In [154]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10,11}
s1>s2

False

In [155]:
#33. Create a set from a string.

In [168]:
s = 'pwskills'
set(s[0:4])

{'k', 'p', 's', 'w'}

In [157]:
#34. Convert a set of strings to a set of integers.

In [160]:
s = {'1','2','3','4','5'}
ns = [eval(i) for i in s]
set(ns)

{1, 2, 3, 4, 5}

In [161]:
#35. Convert a set of integers to a set of strings.

In [164]:
s = {1, 2, 3, 4, 5}
ns = list(map(str,s))
set(ns)

{'1', '2', '3', '4', '5'}

In [165]:
#36. Create a set from a tuple.

In [167]:
t = (1,2,3,4,5,6)
ns = set(t[0:4])
ns

{1, 2, 3, 4}

In [169]:
#37. Convert a set to a tuple.

In [170]:
s = {1,2,3,4,5}
nt = tuple(s)
nt

(1, 2, 3, 4, 5)

In [171]:
#38. Find the maximum value in a set.

In [175]:
s = {12,31,2,16,53}
ns = list(s)
ms = max(ns)
ms

53

In [177]:
s = {12,31,2,16,53}
ns = list(s)
ms = min(ns)
ms

2

In [178]:
#40. Create a set from user input.

In [6]:
s = input('enter ')
ns = s.split(',')
set(ns)

enter 1,2,3,4,5

{'1', '2', '3', '4', '5'}

In [7]:
#41. Check if the intersection of two sets is empty.

In [20]:
s1 = {1,2,3}
s2 = {4,5,6}
s = s1.intersection(s2)
if len(s)==0:
    print('it is empty',True)
else:
    print('it is not empty',False)

it is empty True

In [21]:
#42. Create a set of the first 5 Fibonacci numbers.

In [16]:
n = int(input('enter nterms :'))
n1 =0
n2 =1
c =0
t =[]
while c < n:
    t.append(n1)
    nth = n1+n2
    n1 = n2
    n2 = nth
    c+= 1
print(set(t))# in set duplicate values are removed actual output:{0,1,1,2,3,5,8}

enter nterms :7
{0, 1, 2, 3, 5, 8}

In [17]:
#43. Remove duplicates from a list using sets.

In [19]:
l = [1,2,3,4,1,5,3,4,1]
s = set(l)
list(s)

[1, 2, 3, 4, 5]

In [20]:
#44. Check if two sets have the same elements, regardless of their count.

In [27]:
def same(l1,l2):
    s1 = set(l1)
    s2 = set(l2)
    
    if s1 == s2:
        return True
    else:
        return False
l1 = [1,2,3,4,5,6,7]
l2 = [4,5,7,3,6,1,2]

if same(l1,l2):
    print('the two sets have the same elements')
else:
    print('the two sets have different elements')

the two sets have the same elements

In [28]:
#45. Create a set of the first `n` powers of 2.

In [32]:
s =[]
for i in range(1,10):
    s.append(2**i)
ns = set(s)
ns

{2, 4, 8, 16, 32, 64, 128, 256, 512}

In [33]:
#46. Find the common elements between a set and a list.

In [35]:
l =[1,2,3,4,5,6,7]
s ={4,5,6,7,8,9,10}
s.intersection(set(l))

{4, 5, 6, 7}

In [36]:
#48. Check if a set contains another set as a subset.

In [37]:
s1 = {1,2,3,4,5,6,7}
s2={1,2,3}
s2.issubset(s1)

True

In [38]:
#50. Merge multiple sets into one.

In [40]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}
s.union(s1,s2,s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}